*{
    margin: 0%; 
    padding: 0%; 
}
html {
    scroll-behavior: smooth;
  }
video{
    background: fixed;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    margin-bottom: 50%;
    position: fixed;
}
#oldvs{
    filter: opacity(75%);
    background: fixed;
    /* background: rgba(0, 0, 0, 0.5); */
    position: fixed;
    margin-bottom: 50%;
    position: fixed;
}
body{
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}
button{
    z-index: 1;
    border: 2px solid yellow;
    width: 50vh;
    height: 8vh;
    border-radius: 10vh;
    position: relative;
    margin-top: 60vh;
    margin-left: 75vh;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px black;
    background: transparent;
    color: white;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    font-family: Georgia, serif;
    font-weight: bolder;
}
button:hover{
    box-sizing: border-box;
    box-shadow: 1px 1px 15px yellow;
    transition: 1s;
    font-size: xx-large;
    color: yellow;
    width: 55vh;
    height: 9vh;
    margin-left: 73vh;
}
 @media screen and (max-width:600px) {
    button{
        margin-top: 100%;
        margin-right: 15vh;
        margin-left: 65vh;
        color: black;
    }
    button:hover{
        width: 50vh;
        height: 8vh;
        margin-bottom: -10vh;
        margin-left: 65vh;
    }
    body{
        margin: -65% -75%;
        overflow: hidden;
        background: fixed;
        background-attachment: fixed;
        overflow-y: hidden;
        overflow-x: hidden;
        position: fixed;
    }
}

@media screen and (max-width:300px) {
    button{
        margin-top: 100%;
        margin-right: 15vh;
        margin-left: 23vh;
        color: black;
        width: 50vh;
        height: 8vh;
    }
    button:hover{
        width: 50vh;
        height: 8vh;
        margin-left: 23vh;
    }
    body{
        margin: -65% -75%;
        overflow: hidden;
        background: fixed;
        background-attachment: fixed;
        overflow-y: hidden;
        overflow-x: hidden;
        position: fixed;
    }
}

/* @media screen and (max-width:700px) { */
@media (max-width: 767px) {

    button{
        margin-top: 90%;
        margin-right: -12vh;
        margin-left: 92vh;
        color: black;
        width: 50vh;
        height: 8vh;
    }
    button:hover{
        width: 50vh;
        height: 8vh;
        margin-left: 92vh;
    }
    body{
        margin: -65% -75%;
        overflow: hidden;
        background: fixed;
        background-attachment: fixed;
        overflow-y: hidden;
        overflow-x: hidden;
        position: fixed;
    }
}

@media screen and (max-width:800px) {
    button{
        margin-top: 90%;
        margin-right: -8vh;
        margin-left: 100vh;
        color: black;
        width: 50vh;
        height: 8vh;
    }
    button:hover{
        width: 50vh;
        height: 8vh;
        margin-left: 100vh;
    }
    body{
        margin: -65% -75%;
        overflow: hidden;
        background: fixed;
        background-attachment: fixed;
        overflow-y: hidden;
        overflow-x: hidden;
        position: fixed;
    }
}

@media screen and (max-width:400px) {
    button{
        margin-top: 90%;
        margin-right: 34vh;
        margin-left: 37vh;
        color: black;
        width: 50vh;
        height: 8vh;
    }
    button:hover{
        width: 50vh;
        height: 8vh;
        margin-left: 37vh;
    }
    body{
        margin: -65% -75%;
        overflow: hidden;
        background: fixed;
        background-attachment: fixed;
        overflow-y: hidden;
        overflow-x: hidden;
        position: fixed;
    }
}

@media screen and (max-width:575px) {
    button{
        margin-top: 90%;
        margin-right: 33vh;
        margin-left: 52vh;
        color: black;
        width: 50vh;
        height: 8vh;
    }
    button:hover{
        width: 50vh;
        height: 8vh;
        margin-left: 52vh;
    }
    body{
        margin: -65% -75%;
        overflow: hidden;
        background: fixed;
        background-attachment: fixed;
        overflow-y: hidden;
        overflow-x: hidden;
        position: fixed;
    }
}

@media screen and (max-width:600px) {
    button{
        margin-top: 100%;
        margin-right: 15vh;
        margin-left: 65vh;
        color: black;
    }
    button:hover{
        width: 50vh;
        height: 8vh;
        margin-bottom: -10vh;
        margin-left: 65vh;
    }
    body{
        margin: -65% -75%;
        overflow: hidden;
        background: fixed;
        background-attachment: fixed;
        overflow-y: hidden;
        overflow-x: hidden;
        position: fixed;
    }
} 

 @media screen and (max-width:1400px) {
    button{
        margin-top: 100%;
        margin-right: 15vh;
        margin-left: 65vh;
        color: black;
    }
    button:hover{
        width: 50vh;
        height: 8vh;
        margin-bottom: -10vh;
        margin-left: 65vh;
    }
    body{
        margin: -65% -75%;
        overflow: hidden;
        background: fixed;
        background-attachment: fixed;
        overflow-y: hidden;
        overflow-x: hidden;
        position: fixed;
    } 
 }  

 @media (min-width: 576px) and (max-width: 767px) {
  
        button{
            margin-top: 100%;
            margin-right: 15vh;
            margin-left: 65vh;
            color: black;
        }
        button:hover{
            width: 50vh;
            height: 8vh;
            margin-bottom: -10vh;
            margin-left: 65vh;
        }
        body{
            margin: -65% -75%;
            overflow: hidden;
            background: fixed;
            background-attachment: fixed;
            overflow-y: hidden;
            overflow-x: hidden;
            position: fixed;
        }
    }     


@media (min-width: 1200px) and (max-width: 1399px) {
    @media (min-width: 576px) and (max-width: 767px) {
        @media screen and (max-width:600px) {
            button{
                margin-top: 100%;
                margin-right: 15vh;
                margin-left: 65vh;
                color: black;
            }
            button:hover{
                width: 50vh;
                height: 8vh;
                margin-bottom: -10vh;
                margin-left: 65vh;
            }
            body{
                margin: -65% -75%;
                overflow: hidden;
                background: fixed;
                background-attachment: fixed;
                overflow-y: hidden;
                overflow-x: hidden;
                position: fixed;
            }
        }     
    }   
}

@media (min-width: 768px) and (max-width: 991px) {
    button{
        margin-top: 100%;
        margin-right: 15vh;
        margin-left: 65vh;
        color: black;
    }
    button:hover{
        width: 50vh;
        height: 8vh;
        margin-bottom: -10vh;
        margin-left: 65vh;
    }
    body{
        margin: -65% -75%;
        overflow: hidden;
        background: fixed;
        background-attachment: fixed;
        overflow-y: hidden;
        overflow-x: hidden;
        position: fixed;
    }
} 

